* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-background {
    background-color: #0d1117;
}

.button-bg {
    padding: 0.5rem 1rem;
    border: 2.5px solid;
    border-image-source: linear-gradient(90deg, #3b82f6, #9333ea);
    border-image-slice: 1;
    background-color: rgba(59, 130, 246, 0.2);
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-bg:hover {
    background-color: rgba(59, 130, 246, 0.5);
    transform: scale(1.03);
}

.card-content span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #328af6, #9f81f8);
    z-index: 1;
    transition: width 0.5s;
}

.card-text {
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.9s;
    opacity: 0;
}

@keyframes increase {
    0% {
        content: '0%';
    }

    100% {
        content: attr(data-percentage) '%';
    }
}

.animate-percentage {
    animation: increase 8s forwards;
}

.border-gradient {
    border: 2.5px solid;
    border-image-source: linear-gradient(90deg, #3b82f6, #9333ea);
    border-image-slice: 1;
}